<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAlquilerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2714/AlquilerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlquilerService"
                contract="wsAlquiler.IAlquilerService" name="BasicHttpBinding_IAlquilerService" />
        </client>
    </system.serviceModel>
</configuration>